
#carousel div {
    display: none;
}

html, body, #carousel div {
    overflow: hidden;
}

#carousel div {
    width:100%;
}

#carousel > div > div > img {
    width:100%;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
}

#carousel select {
    display: block;
    z-index: 1;
    position:absolute;
    left:50%;
    top:50%;
    margin:-13px 0 0 -125px;
    height: 26px;
    width: 250px;
}